<html>
    <body>
        <form id="formElem">
            Name
            <input type="text" name="name" [(ngModel)]="person.name" >
            <p>

            </p>
            Address
            <input type="text" name="address"  [(ngModel)]="person.address"> 
            <p>

            </p>
            
            <button type="button" (click)="postJson()">
                Post Jsons
            </button>
            <p>
            Total Person --> {{this.persons.length}}
            </p>

            <button type="button" (click)="getJson()">
                Get Jsons
            </button>

        </form>
    
    </body>
</html>