
  <div class="content" role="main">


    <!-- Next Steps -->
    <h2>Microservices Course</h2>
  
    <input type="hidden" #selection>
  
    <div class="card-container">
      <div class="card card-small" (click)="this.getMasterData()" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="50" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>Load Master Data</span>
      </div>
  
    </div>
  
    <h3>List of Books</h3>
    <div *ngIf="books != undefined">
      <select [(ngModel)]="selectedBook" name="status" placeholder="select" (change)="onSelectBook()"  multiple="multiple"   >
        <option *ngFor="let book of books">
          {{book.name}} 
        </option>
    </select>
    </div>
  
    <div *ngIf="book != undefined">
      <table style="width:400px">
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Description</th>
        </tr>
        <tr>
          <strong> <td>Book Id</td> </strong>
          <td>{{book.id}} </td>
        </tr>
  
        <tr>
          <strong> <td>Book Name</td> </strong>
          <td>{{book.name}} </td>
        </tr>
  
        <tr>
          <strong> <td>Book Price</td> </strong>
          <td>{{book.price}} </td>
        </tr>
      
      </table>
  
     
      <table style="width:400px">
        <button (click)="updateTransactionData()" ><strong>BUY This(Update Transaction Data)</strong></button>
        <tr>
          <strong> <td>Total Sales</td> </strong>
          <td>{{totalSales}} </td>
        </tr>
      
      </table>
  
    </div>
  
    <img src="/assets/fireworks.gif" alt="this slowpoke moves"  width=250/>
  
    <p>
      <button (click)="getTranscationLastBook()" ><strong>Clik This to Test your Home Work</strong></button>
    </p>
    <strong> If your home work if working then last purchased booked displayed here</strong>
    
    <div *ngIf="lastBookName">{{this.lastBookName}}</div>
  
</div>